
.container {
   background-color: white;
   border-radius: 30px;

}

body {
    background: url(./money.png) fixed ;
    background-repeat: no-repeat;
background-size: cover;
font-family: Arial, Helvetica, sans-serif;
}

#all-outputs {
    font-size: 20px;
    font-weight: 500;
    align-items:center;
    justify-content: center;
    display: flex;
    padding: 370px 0;
    text-shadow: 2px 2px 2px white;
}

#dollars-output {
    font-weight: 700;
    font-size: 25px;

background: url(./white-box.png) center;
background-repeat: no-repeat;
    background-size: 70px 30px;
    
}

#quarters-output {
    font-weight: 700;
    font-size: 25px;
    background: url(./white-box.png) center;
    background-repeat: no-repeat;
        background-size: 70px 30px;
    
    

}

#dimes-output {
    font-weight: 700;
    font-size: 25px;
    background: url(./white-box.png) center;
background-repeat: no-repeat;
    background-size: 70px 30px;
}

#nickels-output {
    font-weight: 700;
    font-size: 25px;
    background: url(./white-box.png) center;
background-repeat: no-repeat;
    background-size: 70px 30px;
}

#pennies-output {
    font-weight: 700;
    font-size: 25px;
    background: url(./white-box.png) center;
background-repeat: no-repeat;
    background-size: 70px 30px;
}


#change-output {
    font-size: 25px;
}

.text-color {
    color: red;
    font-weight: 700;
}

#dollars {
    font-style: italic;
}

#quarters {
    font-style: italic;
}

#dimes {
    font-style: italic;
}

#nickels {
    font-style: italic;
}

#pennies {
    font-style: italic;
}